---
- name: Install and Configure NVIDIA Drivers
  ansible.builtin.import_tasks: driver_install.yml

- name: Install nvidia-container-toolkit
  ansible.builtin.import_tasks: container_runtime.yml
  when: pve_nvidia_passthrough_install_container_runtime
